.pd{
  &-0{padding: 0;}
  &-5{padding: 5px;}
  &-10{padding: 10px;}
  &-15{padding: 15px;}
  &-20{padding: 20px;}
  &-25{padding: 25px;}
  &-30{padding: 30px;}
  &-t0{padding-top: 0;}
  &-t5{padding-top: 5px;}
  &-t10{padding-top: 10px;}
  &-t15{padding-top: 15px;}
  &-t20{padding-top: 20px;}
  &-t25{padding-top: 25px;}
  &-t30{padding-top: 30px;}
  &-b0{padding-bottom: 0;}
  &-b5{padding-bottom: 5px;}
  &-b10{padding-bottom: 10px;}
  &-b15{padding-bottom: 15px;}
  &-b20{padding-bottom: 20px;}
  &-b25{padding-bottom: 25px;}
  &-b30{padding-bottom: 30px;}
  &-l0{padding-left: 0;}
  &-l5{padding-left: 5px;}
  &-l10{padding-left: 10px;}
  &-l15{padding-left: 15px;}
  &-l20{padding-left: 20px;}
  &-l25{padding-left: 25px;}
  &-l30{padding-left: 30px;}
  &-r0{padding-right: 0;}
  &-r5{padding-right: 5px;}
  &-r10{padding-right: 10px;}
  &-r15{padding-right: 15px;}
  &-r20{padding-right: 20px;}
  &-r25{padding-right: 25px;}
  &-r30{padding-right: 30px;}
}
.mg{
  &-0{margin: 0;}
  &-5{margin: 5px;}
  &-10{margin: 10px;}
  &-15{margin: 15px;}
  &-20{margin: 20px;}
  &-25{margin: 25px;}
  &-30{margin: 30px;}
  &-t0{margin-top: 0;}
  &-t5{margin-top: 5px;}
  &-t10{margin-top: 10px;}
  &-t15{margin-top: 15px;}
  &-t20{margin-top: 20px;}
  &-t25{margin-top: 25px;}
  &-t30{margin-top: 30px;}
  &-b0{margin-bottom: 0;}
  &-b5{margin-bottom: 5px;}
  &-b10{margin-bottom: 10px;}
  &-b15{margin-bottom: 15px;}
  &-b20{margin-bottom: 20px;}
  &-b25{margin-bottom: 25px;}
  &-b30{margin-bottom: 30px;}
  &-l0{margin-left: 0;}
  &-l5{margin-left: 5px;}
  &-l10{margin-left: 10px;}
  &-l15{margin-left: 15px;}
  &-l20{margin-left: 20px;}
  &-l25{margin-left: 25px;}
  &-l30{margin-left: 30px;}
  &-r0{margin-right: 0;}
  &-r5{margin-right: 5px;}
  &-r10{margin-right: 10px;}
  &-r15{margin-right: 15px;}
  &-r20{margin-right: 20px;}
  &-r25{margin-right: 25px;}
  &-r30{margin-right: 30px;}
}